<h1>Welcome to EJS Templates</h1>
<p>Hello My name is <%= name %>.</p>
<% let age = "<b>32</b>" %>
<p>My age is <%= age %>.</p>
<p>My age is <%- age %>.</p>
<% let say_my_name = "<b>Clicked</b>" %>
<a href="#"><%- say_my_name %></a>
