<% if(total >= 35) { %>
  <p>Congratulations! You have passed.</p>
<% }else if(total >= 65 && total < 100) { %>
  <p>Congratulations! You have passed with distinction.</p>
<% } else { %>
  <p>Sorry, you have failed.</p>
<% } %>